.mic svg {
  background: transparent; /* remove black background */
  width: 30px;             /* scale icon properly */
  height: 30px;
}

.mic {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  background-color: #4A4C4F;
  color: #fff;
  font-size: 33px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.25s;
  z-index: 10;
}

.mic::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  z-index: -1;
}

.listening {
  background-color: #6f7378;
}
.listening::before {
  animation: listening 1.3s infinite;
}

@keyframes listening {
  from {
    opacity: 0.25;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
